<header id="site-header">

    <img id="site-logo" src="{{ " /res/gfx/favicon.png " }}" title="Icon made by popcic from www.flaticon.com (CC BY 3.0)" />
    <p id="site-title">basti tee</p>
    <img id="site-avatar" src="/res/gfx/avatar.jpg" alt="Avatar" />

</header>

<div id="site-content">
    <p>human • avid sw_engineer • open.src/data • kaizen<br />de_DE/en_US • estd. 1983 • @bonn_DE</p>

    <p>
        <a href="mailto:basti.tee@posteo.de"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="https://github.com/bastitee"><i class="fa fa-code" aria-hidden="true"></i></a>
    </p>

</div>
